body {
  overflow-x: hidden;
  color: white !important;
  background-color: rgb(14, 14, 15) !important;
}
#reveal {
  opacity: 0;
  transition: 2s ease-in-out;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}
::selection {
  color: rgb(255, 255, 255);
  background: rgba(165, 136, 42, 0.445);
}
.trail {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgba(0, 217, 255, 0.336);
}

.main_wrapper {
  position: fixed;
  width: 120%;
  height: 100%;
  left: -10%;
  top: -5%;
  transition: 0.4s ease-in;
  overflow: hidden;
  z-index: -1;
}

.dots {
  margin: 50px;
  float: left;
  opacity: 0.2;
  font-size: 40px;
  transition: 0.4s;
  cursor: pointer;
  user-select: none;
  color: gold;
}

.main_wrapper1 {
  position: fixed;
  top: -5%;
  left: -10%;
  height: 120%;
  width: 120%;
  transition: 0.4s ease-in;
  z-index: -2;
  overflow: hidden;
}

.lines {
  height: 120%;
  width: 10%;
  float: left;
  opacity: 0.1;

  border-left: 1px solid white;

  transition: 0.4s;
  cursor: pointer;
  user-select: none;
}
.main_wrapper2 {
  position: fixed;
  top: 0;
  left: -10%;
  height: 120%;
  width: 120%;
  transition: 0.4s ease-in;
  z-index: -2;
  overflow: hidden;
}

.h_lines {
  height: 10%;
  width: 200%;
  opacity: 0.1;
  border-bottom: 1px solid white;
  transition: 0.4s;
  cursor: pointer;
  user-select: none;
}
.dots:nth-child(odd) {
  animation: rainbow 5s infinite;
}
.dots:nth-child(even) {
  animation: rainbow 5s infinite;
}

@keyframes rainbow {
  50% {
    opacity: 0.8;
  }
}

.avatar {
  height: 300px;
  border-radius: 150px;
}
.avatar_wrapper {
  width: 35%;
  margin: 0px auto;
  padding: 100px 40px;
  z-index: 100 !important;
  float: right;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 174, 255, 0.26);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 174, 255, 0.473);
}

@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Noticia+Text&display=swap");
.my_name {
  width: 100%;
  backdrop-filter: blur(1px);
  margin: 0px;
  padding: 60px 50px;
  min-height: 400px;
  font-family: "Londrina Outline", cursive;
  font-size: 100px !important;
  font-weight: 900;
}

.prename {
  font-size: 50px;
  font-family: "Coiny", cursive;
  font-weight: 500;
  margin-top: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
.postname {
  font-size: 35px;
  font-family: "Coiny", cursive;
  font-weight: 200;
  max-width: 60%;
}
.btn_wrap {
  width: 40%;
}
.mybtn {
  float: right;
  width: fit-content;
  font-size: 30px;
  padding: 3px 40px;
  text-align: center;
  margin-top: 20px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-family: "Coiny", cursive;
  border-radius: 12px;
  transition: 0.2s ease-in-out;
}

.mybtn:hover {
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 20px 0px 100px white;
}

.cursor {
  position: absolute;
  width: 0px;
  height: 0px;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s linear;
  z-index: -1;
  box-shadow: 20px 0px 200px 100px rgba(255, 75, 4, 0.76);
}

.game_wrapper {
  width: 100%;
  height: 25vh;
}

.about_wrapper {
  width: 60%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.007);
  margin: 0px auto;
  padding: 60px 50px;
  font-size: 20px;
  font-family: "Coiny", cursive;
  font-weight: lighter;
  border-radius: 20px;
}

.heading {
  font-size: 40px;
  font-family: "Londrina Outline", cursive;
  font-weight: 900;
  color: rgb(163, 165, 42);
}

.icon {
  display: inline;
  font-size: 60px !important;
  text-align: center;
  margin: 20px;
}

.project_wrapper {
  width: 100%;
  backdrop-filter: blur(0px);
  background-color: rgba(255, 255, 255, 0.007);
  margin: 0px auto;
  padding: 60px 50px;
  font-size: 20px;
  font-family: "Coiny", cursive;
  font-weight: lighter;
  border-radius: 20px;
}

.project_pc {
  width: 120%;
  border-radius: 10px;
  filter: opacity(0.7);
  background-color: green;
  transition: 1s;
}

.project_pc:hover {
  filter: opacity(1);
}
.pro_c {
  width: 80%;
  text-align: right;
  font-size: 35px;
  font-family: "Londrina Outline", cursive;
  font-weight: 900;
  color: rgb(163, 165, 42);
}
.pro_card {
  width: 100%;
  margin-top: 10px;
  height: 300px;
  margin-left: -15%;
  backdrop-filter: blur(10px);
  background-color: rgba(44, 0, 44, 0.815);
  border-radius: 10px;
  padding: 40px 30px;
  color: rgb(238, 0, 238);
  font-size: 40px;
  line-height: 1.2;
}

.one {
  background-color: rgba(0, 68, 23, 0.815);
  color: rgb(0, 175, 58);
}

.web_links {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: rgb(24, 90, 85);
  font-size: 30px;
}
.web_links a {
  color: rgb(0, 162, 255);
}
.web_links a:hover {
  color: rgb(173, 175, 58);
}

.project_pc_l {
  width: 120%;
  margin-left: -20%;
  border-radius: 10px;
  filter: opacity(1);
  transition: 1s;
  z-index: 1;
}
.pro_card_r {
  width: 100%;
  margin-top: 10px;
  height: 300px;
  margin-left: 15%;
  backdrop-filter: blur(10px);
  background-color: rgba(44, 14, 0, 0.815);
  border-radius: 10px;
  padding: 40px 30px;
  color: rgb(255, 60, 0);
  font-size: 40px;
  line-height: 1.2;
  z-index: 20 !important;
}

.pro_c_r {
  width: 80%;
  margin-left: 20%;
  text-align: left;
  font-size: 35px;
  font-family: "Londrina Outline", cursive;
  font-weight: 900;
  color: rgb(163, 165, 42);
}
.pro_card_o {
  width: 100%;
  margin-top: 10px;
  height: 250px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 44, 27, 0.815);
  border-radius: 10px;
  padding: 40px 30px;
  color: rgba(0, 190, 117, 0.815);
  font-size: 30px;
  line-height: 1.2;
}

.c1 {
  background-color: rgba(102, 13, 36, 0.815);
  color: rgb(221, 0, 59);
}

.c2 {
  background-color: rgba(102, 13, 90, 0.815);
  color: rgb(209, 0, 181);
}

.c3 {
  background-color: rgba(38, 6, 88, 0.815);
  color: rgb(121, 37, 255);
}
.c4 {
  background-color: rgba(77, 70, 7, 0.815);
  color: rgb(206, 185, 0);
}
.c5 {
  background-color: rgba(13, 26, 70, 0.815);
  color: rgb(78, 119, 255);
}
.c6 {
  background-color: rgba(13, 99, 102, 0.815);
  color: rgba(0, 199, 206, 0.815);
}

.ch1 {
  color: rgb(255, 0, 68);
}

.ch2 {
  color: rgb(209, 0, 181);
}
.ch3 {
  color: rgb(98, 0, 255);
}
.ch4 {
  color: rgb(206, 185, 0);
}
.ch5 {
  color: rgb(0, 60, 255);
}
.ch6 {
  color: rgba(0, 199, 206, 0.815);
}

.contact_tab {
  width: 100%;
  text-align: center;
}

.conbtn {
  float: none;
}

.conwrap {
  width: 100%;
  padding-bottom: 10px;
}

.conpar {
  text-align: center;
  max-width: 60%;
  margin: 10px auto;
  font-size: 22px;
}

.lst {
  font-size: 15px;
  font-weight: lighter;
  color: rgba(231, 231, 231, 0.781);
}
.lst a {
  color: rgba(231, 231, 231, 0.781);
}
.mybtn a {
  color: white;
  text-decoration: none;
}
.mybtn a:hover {
  color: black;
}
.vlst {
  width: 30%;
  margin: 0px auto;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

@media screen and(max-width:600px) {
  .vlst {
    width: 100%;
  }
  .about_wrapper {
    width: 90%;
    margin: 0px auto;
    padding: 0px 0px;
    border-radius: 0px;
  }
  .conpar {
    max-width: 100%;
    margin: 10px auto;
    font-size: 22px;
  }
  .pro_c {
    width: 80%;
    text-align: left;
    margin-top: 20px;
  }

  .project_wrapper {
    padding: 0px 20px;
    border-radius: 0px;
  }

  .project_pc {
    width: 100%;
    display: none;
  }

  .pro_card {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    height: 340px;
    padding: 15px 15px;
  }
  .project_pc_l {
    width: 100%;
    margin-left: 0%;
    display: none;
  }
  .pro_card_r {
    width: 100%;
    margin-top: 10px;
    height: 300px;
    margin-left: 0%;
  }

  .pro_c_r {
    width: 80%;
    margin-left: 5px;
    text-align: left;
    font-size: 35px;
    font-family: "Londrina Outline", cursive;
    font-weight: 900;
    color: rgb(163, 165, 42);
  }
  .my_name {
    width: 100%;
    padding: 60px 20px;
    font-size: 80px !important;
  }
  .avatar {
    height: 200px;
    border-radius: 100px;
  }
  .avatar_wrapper {
    width: 200px;
    margin: 0px auto;
    padding: 0px 0px;
    float: none;
  }
  .postname {
    font-size: 30px;
    font-family: "Coiny", cursive;
    font-weight: 200;
    max-width: 100%;
  }
  .mybtn {
    float: none;
    margin: 20px auto;
  }
}
